<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet preconnect" href="/public/css/index.css">
  <title>Sea Basket</title>
</head>

<body>
  <header class="section">
    <img src="/public/images/icon.jpg" alt="">
    <nav>
      <ul>
        <li>
          <a href=""></a>
        </li>
        <li>
          <a href=""></a>
        </li>
        <li>
          <a href=""></a>
        </li>
        <li>
          <a href="" class="btn"></a>
        </li>
      </ul>
    </nav>
  </header>
  <section class="section">
    <img src="/public/images/hero-image.jpg" alt="">
    <h2>how it works</h2>
    <p>Sea basket delivers fresh sourced seafood in a few easy clicks</p>
  </section>
  <section class="section" id="categories">
    <h2 class="uppercase">categories</h2>
    <ul id="categories-container">
      <!-- React element -->
    </ul>
  </section>
  <section class="section">
    <h2 class="uppercase">a glance at our product</h2>
    <div>
      <!-- An image tag is used just for design. In the production code, a video tag will be used. -->
      <img src="" alt="">
      <div id="controls"></div>
    </div>
  </section>
  <section class="section">
    <h2>FAQs</h2>
    <ul id="faqs-container">
      <li class="faq">
        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio necessitatibus neque ad dicta totam.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quibusdam reprehenderit velit pariatur? Eius rem quam placeat dignissimos unde, ut quod natus accusamus odio voluptatem, quasi nobis. Eveniet, mollitia a?Lorem ipsum dolor sit
          amet consectetur adipisicing elit. Labore at in corporis, sed molestiae illum architecto eveniet laboriosam quia placeat. Veniam vero possimus tempora numquam debitis officiis dolorem. Temporibus, doloremque.</p>
      </li>
      <li class="faq">
        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio necessitatibus neque ad dicta totam.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quibusdam reprehenderit velit pariatur? Eius rem quam placeat dignissimos unde, ut quod natus accusamus odio voluptatem, quasi nobis. Eveniet, mollitia a?Lorem ipsum dolor sit
          amet consectetur adipisicing elit. Labore at in corporis, sed molestiae illum architecto eveniet laboriosam quia placeat. Veniam vero possimus tempora numquam debitis officiis dolorem. Temporibus, doloremque.</p>
      </li>
      <li class="faq">
        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio necessitatibus neque ad dicta totam.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quibusdam reprehenderit velit pariatur? Eius rem quam placeat dignissimos unde, ut quod natus accusamus odio voluptatem, quasi nobis. Eveniet, mollitia a?Lorem ipsum dolor sit
          amet consectetur adipisicing elit. Labore at in corporis, sed molestiae illum architecto eveniet laboriosam quia placeat. Veniam vero possimus tempora numquam debitis officiis dolorem. Temporibus, doloremque.</p>
      </li>
    </ul>
  </section>
  <section class="section">
    <h2 class="uppercase">have a read</h2>
    <div id="reads-container">
      <div class="read">
        <h3>The right quality</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, repellat. Doloremque minima cumque hic pariatur voluptate fugit perferendis laboriosam illo laborum natus totam fugiat rerum, officiis tempora, eum a! Voluptatibus?</p>
        <a href="" class="uppercase blue-link">read more</a>
      </div>
      <div class="read">
        <h3>The right time</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea assumenda dolore magni labore maiores fuga molestiae! Ipsum eaque vero numquam illo nam amet, quod voluptatem, quibusdam suscipit quae accusamus soluta.</p>
        <a href="" class="uppercase blue-link">read more</a>
      </div>
      <div class="read">
        <h3>The basis of a balanced diet</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, temporibus aliquam? Excepturi quod cum dolor placeat non aspernatur dolores odio blanditiis voluptate consequuntur. Corporis similique, tempore autem architecto consequuntur atque?</p>
        <a href="" class="uppercase blue-link">read more</a>
      </div>
    </div>
  </section>
  <section class="section">
    <h2 class="uppercase">topics you can't miss</h2>
    <div id="topics-container">
      <div class="topic">
        <h3>topics you can't miss</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur beatae, tenetur officia, doloribus, eum aut illum asperiores minima labore esse quia. At natus rerum blanditiis labore soluta repellat, quis accusantium?</p>
        <a href="">read more</a>
      </div>
      <div class="topic">
        <h3>how to clean cut your sea food</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi ut earum porro, asperiores minus magnam dicta, eum natus quod totam cum excepturi culpa? Dolorum aliquid consequatur, hic ullam obcaecati placeat.</p>
        <a href="">read more</a>
      </div>
    </div>
  </section>
  <footer>
    <img src="/public/images/icon.jpg" alt="">
    <ul id="external-links">
      <li><a href="">support</a></li>
      <li><a href="">about us</a></li>
      <li><a href="">privacy policy</a></li>
      <li><a href="">terms & conditions</a></li>
      <li><a href="">return & refund policy</a></li>
      <li><a href="">shipping & delivery policy</a></li>
    </ul>
    <div id="copyright">sea basket | all rights reserved | 2021 copyright</div>
  </footer>
  <script src="/node_modules/react/umd/react.production.min.js"></script>
  <script src="/node_modules/react-dom/umd/react-dom.production.min.js"></script>
  <script src="/public/js/index.js" type="module"></script>
</body>

</html>