:root {
  --body-bg-color: #f7fcff;
  --section-padding-horizontal: 6em;
  --font-family: Arial;
  --primary-color: #0e79bd;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--body-bg-color);
  font-family: var(--font-family);
  font-size: 1.5em;
}

img[src="/public/images/icon.jpg"] {
  width: 220px;
}

img[src="/public/images/hero-image.jpg"] {
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.section {
  padding: 2em var(--section-padding-horizontal);
  text-align: center;
}

.section a {
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  text-transform: uppercase;
  font-size: 2em;
}

.btn {
  padding: 0.5em 1.75em;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 5px;
}

header,
nav>ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  margin-bottom: 2em;
}

header.section a {
  text-transform: capitalize;
}

nav a {
  padding: 0.5em;
  margin-left: 15px;
}

#hero>h2 {
  margin-top: 3em;
}

#categories>h2 {
  font-size: 1.3em;
  letter-spacing: 3px;
  text-align: left;
}

#categories-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-content: center;
  gap: 7em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9em;
}

.card {
  text-align: left;
  background-color: #fff;
  box-shadow: 0 0 5px #0003;
  border-radius: 20px;
  padding: 1.5em 1em;
}

#categories-container .card {
  text-align: center;
}

#glance>h2 {
  margin-bottom: 1.5em;
}

#video-container {
  position: relative;
  border-radius: 30px;
  overflow: clip;
}

#controls {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  top: 0;
  background-color: #0003;
}

#play-btn {
  width: 3em;
}

.faq {
  padding: 1em 2em;
  line-height: 150%;
  font-size: 0.9em;
  margin-top: 3em;
}

.faq h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq img {
  align-self: baseline;
  padding: 0px 5px;
  margin-left: 2em;
  height: 1.75em;
}

.faq p {
  margin-top: 2em;
}

.read {
  padding: 2em;
  margin-top: 3em;
}

.read h3 {
  margin: 0;
}

.read a {
  display: flex;
  align-items: center;
  margin-top: 2em;
  justify-content: flex-end;
}

.read img {
  height: 1.2em;
  transform: rotate(-90deg);
  margin-left: 0.5em;
}